---
---

.global-header {
  min-height: 71px;
}

.global-header__container {
  margin: 0 20px 15px 20px;
}

.global-header__logo {
  float: left; 
  background-image: url({{ site.url }}{{ site.baseurl }}/images/new-docs/cdl-logo.png);
  background-repeat: no-repeat;
  min-height: 71px;
  padding-left: 75px;
  padding-top: 20px;
  font-family: verdana;
  font-size: 25px;
}

.global-header__search-component {
  float: right;
  padding-top: 26px;
  max-width: 350px;
}

.homepage__banner {
  background-image: url({{ site.url }}{{ site.baseurl }}/images/new-docs/ucb_day3-33.JPG);
  background-size: 100%; 
  background-position: right bottom -65px; 
  background-repeat: no-repeat; 
  height: 250px;
  margin: 0 auto;
  position: relative;
}

h1.homepage__header {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  color: white;
  display: block;
  position: absolute; 
  bottom: 0;
  margin: 0;
  padding: 18px;
  font-size: 36px;
  font-weight: 200;
  line-height: 1.1;
  letter-spacing: .09em;
}

h2.homepage__header {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  display: block;
}

h3.homepage__header {
  margin: 0 0 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: #7C7E7F;
  padding: 5px 0;
}

.homepage__guide-link {
  color: #000;
}

.homepage__guide-link:hover div {
  color: #000;
}

.homepage__icon {
  width: 100px; 
  height: 100px; 
  background-color: grey; 
  float: left; 
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.sidebar-navigation {
  padding-top: 15px; 
  max-width: 350px;
}

.sidebar-navigation__borders {
  border: 1px solid black; 
  padding: 20px 0;
}

.sidebar-navigation__items {
  display: block; 
  padding: 5px 20px;
}

.sidebar-navigation__section-heading {
  display: block;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

{% for collection in site.collections %}
{% assign collection-data-tuple = site.data.sidebars | where:"collection",collection[1].label %}
{% assign collection-data = collection-data-tuple[0] %}
.homepage__icon.{{ collection-data.collection }} {
  background-image: url("{{ site.url }}{{ site.baseurl }}/images/new-docs/{{ collection-data.icon-url }}");
}
{% endfor %}

.getting-started, .sidebar-navigation__items--getting-started:hover {
  background-color: #60497d;
  color: #fff;
}

.calisphere, .sidebar-navigation__items--calisphere:hover {
  background-color: #FF8F28; 
  color: #fff;
}

.dpla, .sidebar-navigation__items--dpla:hover {
  background-color: #6592a6;
  color: #fff;
}

.oac, .sidebar-navigation__items--oac:hover {
  background-color: #00778B;
  color: #fff;
}

.dams, .sidebar-navigation__items--dams:hover {
  background-color: #005581;
  color: #fff;
}

.technical, .sidebar-navigation__items-technical:hover {
  background-color: #DBD5CD;
  color: #fff;
}

a {
  color: #7C7E7F;
}

a:hover {
  text-decoration: none;
}

.service-link {
  font-size: 17px; 
  color: black;
}

h1.guide-title {
  font-weight: 100; 
  font-size: 36px;
  letter-spacing: .1em;
  padding-bottom: 0;
  border: 0;
}

h1 {
  font-weight: 200;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #7C7E7F;
}

h2 {
  font-weight: 600;
  font-size: 20px;
}