<div class="sidebar">
  <h1>Shared DAMS User Guide</h1>
  <ul>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/index/">Shared DAMS Overview</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/organization/">Organizing Objects with Project Folders</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/create-objects/">Creating Simple Objects</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/complex-objects/">Creating Complex Objects</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/edit-objects/">Viewing and Editing Objects</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/bulk-import/">Bulk Importing Content Files</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/bulk-edit/">Bulk Edit Objects</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/spreadsheet-view/">Spreadsheet Editor</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/clipboard/">Using the Clipboard and Worklist</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/search/">Search</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/permissions/">Setting User Permissions</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/delete/">Deleting an Object or Project Folder</a></li>
  </ul>
  <h1>Policies</h1>
  <ul>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/dams-policies/">Shared DAMS Policies</a></li>
  </ul>
  <h1>Metadata</h1>
  <ul>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/metadata-model/">DAMS Metadata Scheme</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/ucldc-schema/">DAMS Metadata Schema XSD</a></li>
  </ul>
</div>
