<header class="site-header">

  <div class="wrap">
    
    <div class="pull-left">
      <span class="site-project-title">{{ site.project_title }}</span><br>
      <a class="site-title" href="{{ site.url }}{{ site.baseurl }}">{{ site.title }}</a>
    </div>
    
    <nav class="pull-right">
      <ul class="site-nav">
        <li class="site-date">Last updated {{ site.date }}</li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/index/">DAMS</a></li>
        <li><a href="#">Registry</a></li>
        <li><a href="#">Calisphere</a></li>
      </ul>
    </nav>
    
  </div>

</header>
