<header class="global-header">

  <div class="container-fluid global-header__container">
    <div class="row">
      <a href="{{ site.url }}{{ site.baseurl }}">
      <div class="global-header__logo">
        OAC/Calisphere Contributor Help Center
      </div>
      </a>
      <div class="global-header__search-component">
        <div id="search-container" class="input-group">
          <input type="text" class="form-control" id="search-input" placeholder="Search the help center...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
        <ul id="results-container"></ul>
      </div>
    </div>
  </div>
  
</header>
