<div class="sidebar">
  <h1>Calisphere Admin Guide</h1>
  <ul>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/registry/index/">Registry Overview</a></li>
  </ul>
  <h1>Policy</h1>
  <ul>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/registry/access-policies/">Harvest/Public Access Policies</a></li>
  </ul>
  <h1>Metadata</h1>
  <ul>
    <li>Metadata Display Specs (Coming Soon!)</li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/registry/metadata-harvest">Metadata Harvesting Scheme and Crosswalk</a></li>
  </ul>
</div>
