<div class="sidebar">
  <h1>Harvest User Guide</h1>
  <ul>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/registry/index/">Introduction</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/registry/setup/">Supported Harvest Sources and Formats</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/registry/start/">Initiating a Harvest</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/registry/q-a/">Metadata Mapping and Q/A</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/registry/updates/">Making Updates</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/registry/access/">Access Points</a></li>
     <li><a href="{{ site.url }}{{ site.baseurl }}/docs/registry/stats/">Getting Stats</a></li>
  </ul>
  <h1>Policies</h1>
  <ul>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/registry/access-policies/">Harvest and Access Policies</a></li>
  </ul>
  <h1>Metadata</h1>
  <ul>
    <li>Display Specs (Coming Soon)</li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/registry/metadata-harvest">Metadata Harvesting Scheme and Crosswalk</a></li>
  </ul>
</div>
