<div class="sidebar">
  <h1>Getting Started</h1>
  <ul>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/create-account/">Create an Account</a></li>
  </ul>
  <h1>DAMS</h1>
  <ul>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/index/">DAMS Documentation Overview</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/organization/">Organizational Paradigms for Managing Objects</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/create-objects/">Creating a Simple Object</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/complex-objects/">Creating a Complex Object</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/edit-objects/">Viewing and Editing Objects</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/permissions/">Project Folder Access Restrictions & Other Tabs</a></li>
  </ul>
</div>