<div class="sidebar">
  <h1>The Basics</h1>
  <ul>
    <li>About UCLDC</li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/create-account/">Getting Started</a></li>
    <li><a href="mailto:ucldc@ucop.edu">Contact us</a></li>
  </ul>
  <h1>Policy Quick Links</h1>
  <ul>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/registry/access-policies/">Harvest and Access Policies</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/dams-policies/">Shared DAMS Policies</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/technical-docs/api-terms/">Developer Terms and Conditions</a></li>
  </ul>
  <h1>Metadata Quick Links</h1>
    <li>Display Specs (Coming Soon)</li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/registry/metadata-harvest/">Harvest Scheme</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/dams/metadata-model/">Shared DAMS Scheme</a></li>
</div>
