<div class="sidebar">
  <h1>UCLDC APIs</h1>
  <ul>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/technical/index/">Overview of the UCLDC APIs</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/technical/solr-api/">Common Index API</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/technical/registry-api/">Collection Registry API</a></li>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/technical/nuxeo-api/">Nuxeo API</a></li>
  </ul>
  <h1>Policy</h1>
  <ul>
    <li><a href="{{ site.url }}{{ site.baseurl }}/docs/technical/api-terms/">API Terms and Conditions</a></li>
  </ul>
</div>
