---
layout: default
---

<div class="nav-wrap">
  <div class="nav-item" style="background-color: #F78F2F;">
    <a href="{{ site.url }}{{ site.baseurl }}/docs/registry/index/" style="color: white">Calisphere Admin Guide</a> 
  </div>
  <div class="nav-item" style="background-color: #FFB511">
    <a href="{{ site.url }}{{ site.baseurl }}/docs/technical-docs/index/" style="color: white">Common Index API</a>
  </div>
  <div class="nav-item" style="background-color: #205caa">
    <a href="{{ site.url }}{{ site.baseurl }}/docs/dams/index/" style="color: white">DAMS User Guide</a>
  </div>
</div>

<div class="post">

  {% if page.title %}
  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>
  {% endif %}

  <div class="grid">
    <article class="post-content unit w-3-4">
      {{ content }}
    </article>
    <div class="unit w-1-4">
      {% include sidebar.html %}
    </div>
  </div>

  {% include section_nav.html %}


</div>